<div class="row">
  <div class="col s6">
    <%= form_for @category do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.submit 'Submit', class: "btn waves-effect waves-light" %>
    <% end %>
  </div>
</div>
